<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
                <div class="col-md-3" (click)="selectItem('healthcare')">
                        <div class="top-box">  
                          <img  src="./assets/images/medical.png" >
                        </div>
                        <div class="bottom-box">
                            <img src="./assets/images/cloud.png"> Health Care
                        </div>
                    </div>
                    <div class="col-md-3" (click)="selectItem('marketing')">
                        <div class="top-box">  
                          <img  src="./assets/images/marketplace.png" >
                        </div>
                        <div class="bottom-box">
                            <img src="./assets/images/cloud.png"> Market Place
                        </div>
                    </div>
                
                    <div class="col-md-3" (click)="selectItem('bussiness')">
                            <div class="top-box">  
                                <img  src="./assets/images/growth.png" >
                            </div>
                            <div class="bottom-box">
                                <img src="./assets/images/cloud.png"> Bussiness
                            </div>
                    </div>
                     <div class="col-md-3" (click)="selectItem('weather')">
                            <div class="top-box">  
                                <img  src="./assets/images/weather.png" >
                            </div>
                            <div class="bottom-box">
                                <img src="./assets/images/cloud.png"> Weather
                            </div>
                    </div>
          </div>
    
          <div class="item">
                <div class="col-md-3" (click)="selectItem('travel')">
                        <div class="top-box">  
                                <img  src="./assets/images/travel.png" >
                        </div>
                        <div class="bottom-box">
                                <img src="./assets/images/cloud.png"> Travel
                        </div>
                </div>
          </div>
      </div>
</div>


<table class="table table-striped">
        <tbody>
         <tr  >
             <td *ngFor="let value of assets ; let i = index">
                 <table class="table table-inside">
                     <tr>
                            <th>{{value.name}}</th>
                     </tr>
                     <tr *ngFor="let device of value.assets ; let j = index">
                         <td (click)="downloadAsset(device.assetId)">
                                {{device.id}}
                         </td>
                     </tr>
                </table>

             </td>
            
          </tr>
        </tbody>
      </table>

<div *ngIf="result" class="tab-container">
    <ul class="nav nav-tabs" style="position: relative;">

      <li class="active"><a data-toggle="tab" href="#Data"><img src="./assets/images/data.png" class="icon-size"> Data</a></li>
      <li>
          <a data-toggle="tab" href="#Graph"><img src="./assets/images/graph.png" class="icon-size"> Graph</a></li>
    <div class="tab-close" (click)="tabClose()">
        <img src="./assets/images/close.png" style="background-color:white">
    </div>
    </ul>

    <div class="tab-content tab-padding">
      <div id="Data" class="tab-pane fade in active">
        <p>{{result}}</p>
      </div>
      <div id="Graph" class="tab-pane fade">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
</div>