.top-box{
    padding: 5% 2%;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}
.top-box img{
    width: 40%;
    height: auto;
}
.bottom-box {
    text-align: center;
    border: 1px solid #ccc;
    padding: 5% 2%;
    cursor: pointer;
}
.bottom-box img{
    width: 10%;
}
.tab-container{
    padding: 3% 0;
}
.icon-size{
    width: 30%;
    vertical-align:top;
    padding-right: 4px;
    padding-top: 2px;
}
.nav-tabs{
    background-color: lightgrey;
}
.tab-close{
   position: absolute;
   right: 0;
   top:25%;
   cursor: pointer;
}
.tab-close img{
    width:35%;
}
.tab-padding{
    padding: 3%;
}
td,th{
    cursor: pointer;
}
/* carousal style */
.carousel-indicators {
    bottom: 0px;
    margin-left: 0;
    right: 0px;
    text-align: right;
    width: 48%;
}
.carousel {
    padding-bottom: 4%;
}
.carousel-indicators li {
    border: 1px solid #bbb;
}
.carousel-indicators .active{
    background-color: #ccc;
}
/* carousal style */