<div class="top-nav row">
        <div class="navimg col-md-6">
                <img src="./assets/images/logo.png">
                <span>ocean</span>
        </div>
        <div class="col-md-6 search-box">
                <span class="search-container">
                     <input type="text" placeholder="Search.." name="search">
                </span>
                <img src="./assets/images/menu.png" class="menu" (click)="logoutShow()"> 
                <p *ngIf="logout" class="">
                                <button class="button"> <span [routerLink]="['/']">Logout</span>
                                </button>
                                <p>
        </div>

</div>
