<div class="asset-box">
      <div class="asset-text">
        <p>Submit Your Data</p>
      </div>
      <div class="asset-icons">
      <img src="./assets/images/firstasset.png">
      <img src="./assets/images/second-asset.png">
      <img src="./assets/images/third-asset.png">

      </div>
      <!-- <div class="choose-file">
          <input type="file" name="file" id="file" class="inputfile" (change)="fileEvent($event)" />
          <p *ngIf="file">{{file}}</p>
          <label for="file">Drag a file here or <a>Browse</a> a file to Upload</label>
      </div> -->
      <div style="text-align:center;padding-top:2%">
      <button class="button" (click)="upload()">Upload</button>
      </div>
</div>
