.asset-text{
    text-align: center;
    font-size: 22px;
    color: rgb(99, 93, 134);
    margin-top: 8%;
}
.button{
    background-image: linear-gradient(to bottom, #801374, #9b197b, #b62081, #d02a84, #ea3587);
      border: none;
      color: white;
      padding: 5px 40px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;;
      cursor: pointer;
      border-radius: 5px;
}
.asset-icons{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.choose-file{
    padding: 4%;
    border: 1px dashed rgb(151, 172, 196);
    width: 50%;
    margin: auto;   
    text-align: center;
    border-radius: 13px;
}
.choose-file label{
    font-weight: normal;
    color: #a7a4a4;
}
.inputfile {
    position: absolute;
    visibility: hidden;
}

.dialog-container{
    width: 20vw;
}
.dialog{
    color: purple;

}
.dialog-file{
    padding: 4%;
    border: 1px dashed rgb(151, 172, 196);
    width: 100%;
    margin: auto;   
    text-align: center;
    }
.choose-file label{
    font-weight: normal;
    color: #a7a4a4;
}
.inputfile {
    position: absolute;
    visibility: hidden;
}
.row-dialog{
    font-size: 11px;
    margin-left: 0px;
    margin-right: 0px;
}
.button{
    background-image: linear-gradient(to bottom, #801374, #9b197b, #b62081, #d02a84, #ea3587);
    border: none;
    color: white;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;;
    cursor: pointer;
    border-radius: 5px;
}
:host/deep/ .mat-form-field-underline {
    position: absolute;
    height: 1px;   
    width: 100%;
    background-color: gray;
}
:host/deep/ .mat-form-field-label{
    color: grey;
}
:host /deep/ .mat-form-field-infix {
    width: 100%;
}
:host /deep/ .mat-form-field{
   display: inline;
}
:host /deep/ .cdk-overlay-container {
    left: 4% !important;
}
.asset-box{
    border: 1px dashed #bbb;
    width: 45%;
    padding: 5%;
    margin: 10% auto;
    border-radius: 5px;
    /* box-shadow: 2px 2px 2px 2px #ccc; */
}