.top-nav{
    min-height: 70px;
    height: 70px;
    -webkit-box-shadow: -1px 8px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 5px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 8px 5px -2px rgba(0,0,0,0.75);
    top: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
}