/* .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  } */
  .side-nav-style {
    background: #1f2127;
    width: 230px;
    margin-top: 70px;
    position: fixed!important;
}
.content {
    overflow: visible;
    margin-top: 70px;
    background: whitesmoke;
    background-image: url("../../assets/images/dashboard.svg");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: 50% 50%;
    min-height: 100vh;
    padding: 3%;
}
.mat-drawer {
   
    color: white;
}
.glyphicon:before {
    padding-right: 8%;
}
.tab-name{
    width: 80%;
    padding: 6% 11%;
    display: inline-block;
}
.position{
    width: 20%;
}
li{
    list-style-type: none;
}
.ul-sidenav{
    padding: 10% 0 0;
    font-size: 16px;
    background: black;
}
.actor-id{
    background: #39ba91 !important;
    padding: 6% 11%;
}
.ul-sidenav li{
    background: #1f2127;
    cursor: pointer;
}
.actorId-value{
    color: pink;
}
.sideimg img {
    width:90%;
    height: auto;
    margin-left: 4%;
}
.profile{
    margin: 0;
}
.profile-img{
    padding: 0 3% 5% 5%;
}
.profile-img img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
}
.profile-name{
    font-size: 12px;
    padding: 8% 3% 5%;
}

.fa-circle:before {
    content: "\f111";
}
.text-success{
    color: green;
    margin-right: 4px;
}
.active-tab{
    background: black !important;
    color: palevioletred;
}
.icon-size{
    width: 15%;
    vertical-align:top;
    padding-right: 4px;
    padding-top: 2px;
}
