 <div class="home-background">
 <div>
 <div class="imgbox" style="text-align:center">
      <img src="./assets/images/ocean.png">
  
 <div>
    
        

          <mat-form-field style="text-align:center" floatPlaceholder="never" shouldPlaceholderFloat="false">
              <input matInput placeholder="Email" [(ngModel)]="email">
          </mat-form-field>
          <div>
          <mat-form-field style="text-align:center" floatPlaceholder="never" shouldPlaceholderFloat="false">
            <input matInput type="password" placeholder="password" [(ngModel)]="password">
             
          </mat-form-field> 
   </div>
   </div>
   </div>
  
   <div style="text-align:center">
                  
              <button class="button" (click)="login();">Login</button>
               
   </div>
            <div style="text-align:center" class="register-edit">
            <a [routerLink]="['/register']">Register</a>
   </div>
       

   </div>
 </div>